.nav-pills .nav-item .nav-link {
  color: #6c757d;
}

.nav-pills .nav-item .nav-link.active {
  color: #000;
  background: #ffc107;
}

.nav-pills .dropdown.show > a {
  color: #6c757d;
  background: unset;
}
