#main-footer {
  background: #fbfbfb;
  width: 100%;
}

#main-footer .container {
  max-width: 900px;
  color: #666666;
  text-align: center;
}

#main-footer .container .c-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 1rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e9e9e9;
}

#main-footer .container .c-footer-content .c-t-list {
  list-style-type: none;
  display: flex;
}

#main-footer .container .c-footer-content .c-t-list li {
  margin-right: 1rem;
}

#main-footer .container .c-footer-content .c-t-list li a {
  color: #666666;
}

#main-footer .container .c-footer-content .c-t-list li a:hover {
  color: #ffcf40;
  text-decoration: underline;
  cursor: pointer;
}

#main-footer .container .c-footer-content .c-icons .c-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  text-align: center;
  padding: 0.5rem;
}

#main-footer .container .c-footer-content .c-icons .c-icon:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  #main-footer .container .c-footer-content {
    flex-direction: column;
  }
  #main-footer .container .c-footer-content ul {
    margin-bottom: 1rem;
  }
}
