* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.7rem;
    overflow-x: hidden;
    background: #fbfbfb;
}
