#game-info .container {
  margin-bottom: 5rem;
}

#game-info .container .game-c-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 0;
}

#game-info .container .game-c-container #score {
  z-index: 1;
}

#game-info .container .game-c-container #score .score-bar {
  height: 140px;
  width: 140px;
  margin-top: -100px;
  margin-bottom: 1rem;
}

#game-info .container .game-c-container #score .text-wrapper {
  flex: 1;
  width: 140px;
  line-height: 1.2rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 1000px) {
  #game-info .container .game-c-container {
    grid-gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  #game-info .container .game-c-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }

  #game-info .container .game-c-container #score {
    justify-self: center !important;
  }

  #game-info .container .game-c-container #score .score-bar {
    margin-top: 5rem;
  }
}
