#articles .articles-c-container .card:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

#articles .articles-c-container .card {
    max-height: 420px;
    overflow: hidden;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#articles .articles-c-container .card,
#articles .articles-c-container .card .card-img-top {
    border-radius: 0;
}

#articles .articles-c-container .card:focus,
#articles .articles-c-container .card:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#articles .articles-c-container .card .card-img-top {
    transition: transform 0.3s ease;
}

#articles .articles-c-container .card:hover .card-img-top {
    transform: scale(1.025);
}

#articles .articles-c-container .card:first-child .card-img-top {
    height: 100%;
    object-fit: cover;
}

#articles .articles-c-container .card .card-img-overlay {
    background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #articles .articles-c-container .card {
        margin-bottom: 1rem;
    }

    #articles .articles-c-container .card:first-child,
    #articles .articles-c-container .card:last-child {
        grid-column: 1 / span 1;
        display: block;
    }
}
