#game-info .game-c-container .cover {
  position: relative;
  z-index: 1;
}

#game-info .game-c-container .cover img {
  margin-top: -300px;
  height: auto;
  width: 264px;
  object-fit: cover;
}

#game-info .game-c-container .cover .btn {
  display: block;
  width: 264px;
  margin-top: 0.5rem;
}

#game-info .game-c-container .cover .c-btn:active {
  background: #000;
}

#game-info .game-c-container .cover .row {
  max-width: 270px;
  margin: 0;
  padding: 2rem 0 2rem 0;
}

#game-info .game-c-container .cover .row .icon-item {
  text-align: center;
}

#game-info .game-c-container .cover .c-header-title {
  position: absolute;
  top: 0;
  left: 300px;
  width: 900px;
  max-height: 250px;
  margin-top: -250px;
  overflow: hidden;
}

#game-info .game-c-container .cover .c-header-title h1 {
  font-size: 3rem;
  line-height: 4rem;
  color: #fff;
}

@media (max-width: 1300px) {
  #game-info .container .game-c-container .cover .c-header-title {
    max-width: 700px;
  }
  #game-info .container .game-c-container .cover .c-header-title h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  #game-info .game-c-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
  }

  #game-info .game-c-container .cover .c-header-title {
    position: relative;
    margin-top: 0;
    max-width: 400px !important;
    margin-bottom: 3rem;
    left: 0;
  }

  #game-info .game-c-container .cover .c-header-title h1 {
    color: #000;
    font-size: 2.5rem !important;
    line-height: 2.7rem;
    padding: 0.1rem;
    white-space: pre-wrap !important;
    text-overflow: ellipsis !important;
  }
}
