#game-data > .container,
#game-data .pulses-row {
  margin-bottom: 5rem;
}

#game-data .game-data-wrapper > .row {
  margin-bottom: 5rem;
}

#game-data .game-data-wrapper .game-carousel {
  margin-bottom: 3rem;
}

#game-data .game-carousel .multiple-items .card .card-img-top {
  max-height: 180px;
}
