#game-data .game-data-wrapper .information {
  background: #fff !important;
  max-width: 400px;
  text-align: left;
  box-shadow: 5px 0 5px -5px #333;
}

#game-data .game-data-wrapper .information h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 0.1rem;
}

#game-data .game-data-wrapper .information h2 {
  color: #000;
  font-size: 1rem;
}

@media (max-width: 991px) {
  #game-data .game-data-wrapper .information {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5rem;
  }
}
