.news-c-container .card {
    font-size: 1rem;
    padding: 0;
}

.news-c-container .card .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-c-container .card-body .card-text a:first-child {
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-c-container .card-body .pulse-source {
    color: #ffc107;
}

.news-c-container .card-body a:hover {
    color: #ba8b00 !important;
}
