.review {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e9e9e9;
}
.review .review-body {
  word-wrap: break-word;
  text-overflow: unset;
  font-size: 0.9rem;
}

.review:last-child {
  border-bottom: none;
}
