#media-carousel .container .c-img-item {
    width: 640px;
    height: 360px;
}

#media-carousel .slick-slider .c-img-item,
#media-carousel .slick-slider .c-iframe-item {
    overflow: hidden;
    max-height: 360px;
    margin-right: 0.8rem;
}

#media-carousel .slick-slider .c-img-item:hover {
    cursor: pointer;
}

#media-carousel .slick-slider .c-img-item img {
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

#media-carousel .slick-slider .c-img-item:hover img {
    transform: scale(1.02);
}