.news-c-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .news-c-container {
    grid-template-columns: 1fr;
  }
}
