.recently-released-wrapper .media-table .media-item {
  flex: 1;
  min-width: 0;
}

.recently-released-wrapper .media-table .side-item-wrapper {
  margin-left: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
