.header-wrapper h1 {
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.header-border {
  padding-top: 5rem;
  border-top: 1px solid #e9e9e9;
}

.bottom-line {
  background: #ffc107;
  margin-bottom: 1.5rem;
}
