#game-data .game-data-wrapper .information .lists-wrapper .list-group-item {
  background: #fff !important;
  border: none;
  border-top: 1px solid rgba(0,0,0,.125);
}

#game-data .game-data-wrapper .information .lists-wrapper .list-group-item:first-child {
  border: none;
}

#game-data .game-data-wrapper .information .lists-wrapper .nested-list {
  list-style-type: none;
  font-size: 3rem;
}

#game-data .game-data-wrapper .information .lists-wrapper .nested-list li {
  font-size: 0.9rem;
}
