#panel-c {
    font-size: 0.9rem;
}

#game-info .game-c-container #panel-c .nav-tabs {
    margin-bottom: 0.5rem;
}

#game-info .game-c-container #panel-c .nav-tabs a {
    color: #000;
}

#game-info .game-c-container #panel-c .tab-content .c-lists {
    padding: 0;
}

#game-info .game-c-container #panel-c .tab-content .c-lists .list-group h4 {
    font-size: 1rem;
}

#game-info .game-c-container #panel-c .tab-content .c-lists .list-group h2,
#game-info .game-c-container #panel-c .nav-tabs a {
    font-weight: bold;
}

#game-info .game-c-container #panel-c .tab-content .c-lists .main-list {
    padding: 0;
}

#game-info .game-c-container #panel-c .tab-content .c-lists .main-list .list-group-item {
    padding: 12px 20px;
}

#game-info .game-c-container #panel-c .nav-tabs a.active,
#game-info
.game-c-container
#panel-c
.tab-content
.c-lists
.c-list
.c-li-title {
    color: #ffc107;
}

@media (max-width: 768px) {
    #game-info .game-c-container .score {
        grid-row: 4;
        margin: 0 1rem;
        margin-bottom: 5rem;
        justify-self: center;
        max-width: 100%;
    }
}
