#media-carousel {
    background: #202020;
    margin-top: 1rem;
}

#media-carousel .container {
    position: relative;
    width: 100%;
    max-width: 1880px;
    padding: 1rem;
    margin-bottom: 5rem;
}

#media-carousel i {
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    cursor: pointer;
    padding: 1.2rem 1.5rem;
    margin: 0;
    z-index: 1;
}

#media-carousel i:hover {
    background: #fff;
    color: #ffcf40;
}

#media-carousel #left-arrow,
#media-carousel #right-arrow {
    top: 39%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#media-carousel #left-arrow {
    left: 0;
}

#media-carousel #right-arrow {
    right: 0;
}