.search-results-c-container .c-t-item {
  font-size: 1.1rem;
  padding: 1rem 0.5rem;
  border-top: 1px solid #e9e9e9;
}

.search-results-c-container .c-t-item img {
  width: 70px;
  height: 70px;
  margin-right: 1rem;
}
