#heading {
  position: relative;
  overflow: hidden;
}

#heading .heading-wrapper {
  min-height: 500px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  filter: blur(8px);
  transform: scale(1.1);
}
